<div class="container">
  <div class="margin-top-index">

    <h1><strong>Your flats</strong></h1>
    <p>Find your creepy home</p>

    <div class="cards">
      <% @flats.each do |flat| %>
      <div class="card-category">
        <div >
          <%= cl_image_tag flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
        </div>
        <div class="d-flex justify-content-between end">
          <div class="p-3 mb-0">
            <h6 class="title mb-3"><%= link_to flat.name, flat_path(flat) %></h6>
            <p class="card-address"><%= flat.address%></p>
          </div>
          <div>
            <div class="d-flex justify-content-center">
              <p><%= flat.max_people %></p>
              <i class="fa-solid fa-user mt-1"></i>
            </div>
            <p class="mb-0"><%= flat.price %>€</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
