<div class="container">

<h1 style="text-align:center; margin-bottom:20px">Create your own Creepy House</h1>


<%= simple_form_for(@flat, html: { class: "flat-form form-shadow" }) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :max_people %>
  <%= f.input :photo, as: :file %>
  <%= f.submit%>
<% end %>
</div>
