<h1>Créer votre maison</h1>

<%= simple_form_for(@flat, html: { class: "flat-form" }) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :max_people %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
