<div class="container">
  <div class="row">
    <h1>Votre maison hantée</h1>

    <div class="card-trip col-8">
      <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
      <div class="card-trip-infos">
        <div>
          <h2> <%= @flat.name %> </h2>
          <p>Address: <%= @flat.address %> </p>
          <p>--------------- </p>
          <p> <%= @flat.description %> </p>
          <p>--------------- </p>
          <p> <%= @flat.max_people %> max people </p>
        </div>
        <h2 class="card-trip-pricing"> <%= @flat.price.to_i %>€ </h2>
        <%= cl_image_tag current_user.photo.key, class:"avatar",style: "position: relative; top: -100px;"  %>
      </div>
    </div>

    <div class="form-container col-4">
      <p class="btn-ghost" style="color: white; text-align: center">Choose dates</p>
      <%= render 'form', flat: @flat, booking: @booking %>
      <div class="map"
        data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
