
<div id="maDiv" class="fade-in fireworks">
<%= javascript_include_tag 'custom' %>
<%= javascript_include_tag 'ghost' %>
<%= javascript_include_tag 'scrollSound' %>

  <h1 class="title-resa">Your reservation</h1>


    <div class="card-trip-booking" >
      <%= cl_image_tag @booking.flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
      <div class="card-trip-infos-booking">
      <div class="ghost">
       <img id="centered-image" src="https://res.cloudinary.com/diuabdrmm/image/upload/v1685617090/png-transparent-valak-insidious-ghost-nun-demon-horror-gruesome-mask-teeth-mouth-thumbnail-removebg-preview_gosxtb.png" alt="Image">

      </div>
        <div>
          <h2> <%= @booking.flat.name %> </h2>
          <%# <button id="playSoundButton">Jouer le son</button> %>
          <p>Address: <%= @booking.flat.address %> </p>
          <p>--------------- </p>
          <p> <%= @booking.flat.description %> </p>
          <p>--------------- </p>
          <p> Date d'arrivée : <%= @booking.start_date %> </p>
          <p> </p>
          <p> Date de départ : <%= @booking.end_date %> </p>
          <p>--------------- </p>
              <% if @booking.status == "accepted" %>
                <p>Statut:</p><span style="color: green;"><%= @booking.status %></span>
              <% elsif @booking.status == "refused"  %>
                <p>Statut:</p><span style="color: red;"><%= @booking.status %></span>
              <% else %>
                <p>Statut:</p><span style="color: yellow;"><%= @booking.status %></span>
              <% end %>
        </div>
        <h2 class="card-trip-pricing-booking"> <%= @booking.flat.price.to_i %>€ </h2>
        <%= cl_image_tag current_user.photo.key, class:"avatar",style: "position: relative; top: -100px;"  %>
      </div>
    </div>
</div>

<script src="/assets/custom.js"></script>
