
<div class="container">
  <div class="row">



    <div class="cards-house col-5 mt-5">
    <h1 class="mb-4"><strong>Your houses</strong></h1>
      <% @flats.each do |flat| %>
      <div class="card-category-house mb-3">
        <div >
          <%= cl_image_tag flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
        </div>
        <div class="d-flex justify-content-between end">
          <div class="p-3 mb-0">
            <h6 class="title mb-3"><%= link_to flat.name, flat_path(flat) %></h6>
            <p class="card-address-house"><%= flat.address%></p>
          </div>
          <div>
            <div class="d-flex justify-content-center mt-1">
              <p><%= flat.max_people %></p>
              <i class="fa-solid fa-user mt-1 ms-1"></i>
            </div>
            <p class="ms-3"><%= flat.price.to_i %>€</p>
            <button class="btn-create-flat mt-4"><%= link_to "DELETE", flat_path(flat), data: { turbo_method: :delete } %></button>
          </div>
        </div>
      </div>
      <% end %>
    </div>


 <div class="col-7 mt-5">
  <h1 class="mb-4"><strong>Your booking requests</strong></h1>
  <% @bookings.each do |booking| %>
    <%= link_to booking_path(booking) do %>
      <div class="booking-product-house mb-2">
        <%= cl_image_tag booking.flat.photo.key, height: 300, width: 400, crop: :fill, class: "image-fluid" %>
        <div class="booking-product-infos-house">
          <h2><%= booking.flat.name %></h2>
          <p>
            <strong>Arrival:</strong> <%= booking.start_date %> <br>
            <strong>Departure:</strong> <%= booking.end_date %> <br>
            <strong>Total Price:</strong> <%= (booking.end_date - booking.start_date).to_i %> x <%= booking.flat.price.to_i %> € = <%= ((booking.end_date - booking.start_date).to_i * booking.flat.price).to_i %>€
          </p>
          <p><strong>Status: </strong>
          <% if booking.status == "accepted" %>
          <span style="color: green;"><%= booking.status %></span>
          <% elsif booking.status == "refused"  %>
          <span style="color: red;"><%= booking.status %></span>
          <% else %>
          <span style="color: yellow;"><%= booking.status %></span>
          <% end %></p>
          <div>
            <% if booking.status != "accepted" %>
              <button class="btn-create-flat mt-5 ms-5"><%= link_to "Accept", accept_booking_path(booking), data: { turbo_method: :patch } %></button>
            <% end %>
            <% if booking.status != "refused" %>
              <button class="btn-create-flat mt-5"><%= link_to "Refuse", refuse_booking_path(booking), data: { turbo_method: :patch } %></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

  </div>
</div>
