
<div class="container">
  <div class="row">



    <div class="cards-house col-5">
    <h1><strong>Vos maisons</strong></h1>
      <% @flats.each do |flat| %>
      <div class="card-category-house">
        <div >
          <%= cl_image_tag flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
        </div>
        <div class="d-flex justify-content-between end">
          <div class="p-3 mb-0">
            <h6 class="title mb-3"><%= link_to flat.name, flat_path(flat) %></h6>
            <p class="card-address-house"><%= flat.address%></p>
          </div>
          <div>
            <div class="d-flex justify-content-center">
              <p><%= flat.max_people %></p>
              <i class="fa-solid fa-user mt-1"></i>
            </div>
            <p class="mb-0"><%= flat.price %>€</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>


    <div class="col-7">
    <h1><strong>Vos demandes de réservations</strong></h1>
      <% @bookings.each do |booking| %>
      <%=link_to booking_path(booking) do %>
        <div class="booking-product-house">
          <%= cl_image_tag booking.flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
          <div class="booking-product-infos-house">
            <h2><%= booking.flat.name %></h2>
            <p>
            <strong>Arrival:</strong> <%= booking.start_date%> <br>
            <strong>Departure:</strong> <%= booking.end_date%> <br>
            <strong>Total Price:</strong> <%= (booking.end_date - booking.start_date).to_i %> x <%= booking.flat.price.to_i%> € = <%= ((booking.end_date - booking.start_date).to_i * booking.flat.price).to_i  %>€
            </p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
