
<div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://c.wallhere.com/photos/f5/53/face_selective_coloring_red_eyes_black_background-7680.jpg!d)">
  My Bookings
</div>


<div data-controller='ghost'>
  <% if @bookings.empty? %>
  <h3>You don't have any bookings !!!</h3>
  <% else %>
  <% @bookings.each do |booking| %>
      <div class= "booking-product">

          <%=link_to booking_path(booking) do %>
          <div class="booking-product-infos" data-action="click->ghost#playSound">
           <%= audio_tag "sound.wav", data: {ghost_target: "soundOof"} %>
            <%= cl_image_tag booking.flat.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
            <div>
              <h2><%= booking.flat.name %></h2>
              <p>
              <strong>Arrival:</strong> <%= booking.start_date%> <br>
              <strong>Departure:</strong> <%= booking.end_date%> <br>
              <strong>Total Price:</strong> <%= (booking.end_date - booking.start_date).to_i %> x <%= booking.flat.price.to_i%> € = <%= ((booking.end_date - booking.start_date).to_i * booking.flat.price).to_i  %>€ <br><br>
              <strong>Reservation status:</strong>
              <% if booking.status == "accepted" %>
                <span style="color: green;"><%= booking.status %></span>
              <% elsif booking.status == "refused"  %>
                <span style="color: red;"><%= booking.status %></span>
              <% else %>
                <span style="color: yellow;"><%= booking.status %></span>
              <% end %>
              </p>
            </div>
          </div>
          <% end %>
          <div class="d-flex flex-column justify-content-center">
            <%= link_to 'CANCEL', dashboard_path(booking), data: {turbo_method: "delete"}, class: "btn-ghost btn-cancel border-white" %>
          </div>
      </div>
    <% end %>

  <% end %>
</div>
